<div class="p-25 flex space-between view about" #about>
    <div>
        <text-header-component header="About Me"></text-header-component>
        <div class="info-container">
            <p class="text">I'm a Full Stack Web Developer with over a year and a half of hands-on experience in a Tel Aviv-based startup (Angular, Iconic, NodeJs).
                 My expertise lies in crafting single-page applications using JavaScript (ES6, ES5), Vue.js, React.js, Angular.js…
                With a strong foundation in FrontEnd development, I bring proficiency in creating seamless user experiences. 
                I am always eager to contribute my skills to dynamic projects, I thrive in collaborative environments and enjoy tackling challenges with an analytical mindset.
            I'm constantly exploring new technologies to enhance my problem-solving abilities. Open to new opportunities.
        </p>
        </div>
    </div>
    <img src="../../assets/images/sundos.jpeg" alt="sundos-picture">
</div>