<div class="flex column view experience p-25" #experience>
    <div >
        <text-header-component header="Experience"></text-header-component>
        <div>
            <h4>FrontEnd Web developer</h4>
            <h4>Company: Avenews</h4>
            <h4>Main Technologies: Angular & Ionic</h4>
        </div>
    </div>
    <div class="experience-list">
        <h3>My experince Included:</h3>
        <ul>
            <li class="text">
               I've spearheaded the development and ongoing maintenance of cutting-edge code for both in-house and client websites and applications.
            </li>
            <li class="text">
                I seamlessly integrate external libraries, such as enabling video chat between user and agent applications, to enhance our system's capabilities. 
            </li>
            <li class="text">
                Additionally, I optimize workflow by developing reusable components like dynamic forms, streamlining code maintenance, and fostering efficiency.
            </li>
            <li class="text">
                I ensured responsive design and a "mobile-first" approach in my development process. 
            </li>
            <li class="text">
                Tested the front-end code across diverse browsers and mobile devices ensuring seamless cross-browser compatibility and optimal responsiveness.
            </li>
            <li class="text">
               Collaborating closely with fellow developers, both front-end and back-end, as well as digital producers, I effectively coordinate efforts to deliver projects punctually, meeting or exceeding client expectations.
            </li>
        </ul>
    </div>
</div>