<div class="flex column view experience p-25" #experience>
    <div >
        <text-header-component header="Experience"></text-header-component>
        <div>
            <h4>FrontEnd Web developer</h4>
            <h4>Company: Avenews</h4>
            <h4>Main Technologies: Angular & Ionic</h4>
        </div>
    </div>
    <div class="experience-list">
        <h3>My experince Included:</h3>
        <ul>
            <li class="text">
                As a proficient developer with a mastery of modern JavaScript (ES5, ES6), I have a track record of building full-scale web applications with seamless user experiences. I've spearheaded the development and ongoing maintenance of cutting-edge code for both in-house and client websites and applications.

            </li>
            <li class="text">
                I seamlessly integrate external libraries, such as enabling video chat between user and agent applications, to enhance our system's capabilities. Additionally, I optimize workflow by developing reusable components like dynamic forms, streamlining code maintenance, and fostering efficiency.
            </li>
            <li class="text">
                With a strong command of HTML5, CSS3, and SASS, I ensure responsive design and a "mobile-first" approach are at the forefront of my development process. Rigorous front-end code testing across diverse browsers and mobile devices ensures seamless cross-browser compatibility and optimal responsiveness, resulting in superior user experiences.
            </li>
            <li class="text">
                My experience extends to server-side development, APIs, and REST using Node.js, as well as competent database management with both MongoDB and SQL. By fostering a culture of collaboration and closely liaising with fellow developers, both front-end and back-end, as well as digital producers, I effectively coordinate efforts to deliver projects punctually, meeting or exceeding client expectations.
            </li>
        </ul>
    </div>
</div>