<div class="p-25 contact">
      <text-header-component header="Get In Contact!"></text-header-component>
        <h2 class="text">Do you like what you see? Hit me up through:</h2>
        <div class="flex gap20 flex-wrap">
           <a rel="nofollow" href="tel:0508252557">050-8252557</a>
            <span>|</span>
            <a href="mailto: sundosgutty@gmail.com"> sundosgutty@gmail.com</a>
            <span>|</span>
            <a href="https://www.linkedin.com/in/sundos-guty/" target="_blank">Linkedin</a>
      </div>
</div>