<div class="view technologies-tools p-25" #technologies>
    <text-header-component header="Education & Technologies"></text-header-component>
    <div class="mb-50"> 
        <h5 class="mini-header">Education:</h5>  
        <ul>
            <li class="text">
                Graduated from Coding Academy, an intensive 640-hour coding boot camp specializing in Full Stack development.
            </li>
            <li class="text">
                Acquired proficiency in writing single-page applications using cutting-edge web technologies including React.js, Vue.js, Angular, and Vanilla JavaScript.
            </li>
        </ul>
        <h5 class="mini-header">Technologies:</h5>
        <ul>
            <li class="text">Proficient in <strong>JavaScript</strong> JavaScript and its frameworks such as <strong>Angular</strong>,  <strong>React</strong> and <strong>Vue.js</strong>, as well as libraries like <strong>Ionic</strong>,  <strong>RXJS</strong> and <strong>Redux</strong>.
                Skilled in front-end technologies including <strong>HTML5</strong>,  <strong>CSS3</strong>, <strong>Sass</strong>, and <strong>responsive design</strong> principles.</li>
                <li class="text">Experienced in utilizing tools and technologies such as, Node.js, REST APIs, MongoDB, Ajax, npm, Git, and GitHub.</li>
        </ul>
        <h5 class="mini-header">Background:</h5>
        <ul>
            <li class="text">
                Introduced to the world of programming through She Codes, where I took my first steps in coding and learned JavaScript.
            </li>
            <li class="text">A dedicated self-learner, continuously exploring new trends and technologies like the parallax effect and integrating them into projects.
            </li>
            <li class="text">Enriched my knowledge through coding courses such as "Modern React with Redux" and "The Modern JS BootCamp."
            </li>
        </ul>
        <h5 class="mini-header">Additional Skills:</h5>
        <ul>
            <li class="text">
                Holds a degree in Communication Science and Cinematography from Tel-Aviv University, fostering critical thinking and attention to detail, which have proven invaluable in my programming career.  
            </li>
            <li class="text">
                As a program developer, I am dedicated to staying updated with the latest technologies and techniques while leveraging my diverse skill set to create innovative and effective solutions.

            </li>
        </ul>
    </div>
</div>