.about {
    @media(max-width: 1200px){
        flex-direction: column !important;
    }
    img {
        border-radius: 50%;
        object-fit: cover;
        width: 35%;
    }
        padding-bottom: 80px;
        .info-container {
            max-width: 71ch;
            line-height: 2.4rem;
        }
}
    
    
    
