<header class="view">
    <div class="flex flex-wrap p-25 header-content space-between align-end">
        <div class="description">
            <h6 class="text-header">Sundos Gutty</h6>
            <p class="text">Experienced Full stack web developer</p>
            <p class="text">With a strong foundation in FrontEnd development</p>
          </div>
          <div class="right-box">
            <div class="flex column m-0">
                <h1>I write</h1>
                <h1>code</h1>
                <h1>to tell</h1>
                <h1>a story</h1>
            </div>
        </div>
    </div>
</header> 


